.sitemapContainer{
    background-color: coral;
}

.sitemapDiv{

}

.sitemapAboutDiv{

}

.sitemapProjectsDiv{

}

.sitemapContactDiv{

}

.map{
    color: white;
    font-size: 18px;
}
.mapItem{
    color: white;
    font-size: 18px;
}

.mapLink{
    color: white;
    font-size: 18px;
}